@model IEnumerable<BroadvineOnboard.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients Listing</h2>

<p>
    @Html.ActionLink("Create New Client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })
        </td>
    </tr>
}

</table>
