@model IEnumerable<BroadvineOnboard.Models.DepartmentGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Department Group Listing</h2>

<p>
    @Html.ActionLink("Create New Department Group", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentGroupCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentGroupCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td align="right">
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentGroupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartmentGroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartmentGroupID })
        </td>
    </tr>
}

</table>
