<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Broadvine</title>

    <link rel="stylesheet" href="~/Content/styles/app.min.css">
    <script src="~/Scripts/jquery-bundle.min.js"></script>
    <script src="~/Scripts/bootstrap-bundle.min.js"></script>
    <script src="~/Scripts/kendo-bundle.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-default transparent navbar-static-top" role="navigation" id="navbar-main">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="fa fa-chevron-down"></span> <b>Menu</b>
                </button>
                <a class="navbar-brand" href="#"><div title="Broadvine Solutions" class="logo"></div></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
@if (!this.User.Identity.IsAuthenticated)
{
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="slide1"></div>
            </div>
            <div class="item">
                <div class="slide2"></div>
            </div>
            <div class="item">
                <div class="slide3"></div>
            </div>
        </div><!-- .carousel-inner -->
        <div class="container carousel-overlay text-center">
            <h1>Broadvine Solutions</h1>
            <p class="lead">The leading provider of hospitality BI solutions</p>
            <a class="btn btn-lg btn-success fp-buttons" href="#">
                <span class="fa fa-dollar"></span> Learn more
            </a>
            <a class="btn btn-lg btn-success fp-buttons" href="#">
                <span class="fa fa-check"></span> Sign Up
            </a>
        </div>
    </div><!-- .carousel -->
}

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Broadvine</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@

    @*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>*@
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
</body>
</html>

